In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\softwares\anaconda\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in d:\softwares\anaconda\lib\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
config = {
  'user': 'root',
  'password': 'root',
  'host': '127.0.0.1',
  'port': 3306,
  'database': 'library',
  'raise_on_warnings': True
}

In [2]:
# create a MySQL server connection object
import mysql.connector
import math
import pandas as pd

In [8]:
my_sql = mysql.connector.connect(**config)
cursor = my_sql.cursor()

In [9]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('books.csv')

# Insert each row into the MySQL database
for index, row in df.iterrows():
    row['average_rating'] = float(row['average_rating']) if not math.isnan(row['average_rating']) else None
    row['original_publication_year'] = int(row['original_publication_year']) if not math.isnan(row['original_publication_year']) else None
    row['ratings_count'] = int(row['ratings_count']) if not math.isnan(row['ratings_count']) else None
    row['language_code'] = row['language_code'] if not pd.isna(row['language_code']) else None
    
    # print(row['title'], '|', ','.join(row['authors'].split(',')[:5]), row['original_publication_year'], row['language_code'], row['average_rating'], row['ratings_count'], row['image_url'])
    cursor.execute("INSERT INTO Books (`title`, `authors`, `original_publication_year`, `language_code`, `average_rating`, `ratings_count`, `image_url`) VALUES (%s, %s, %s, %s, %s, %s, %s)",
            (row['title'], ','.join(row['authors'].split(',')[:5]), row['original_publication_year'], row['language_code'], row['average_rating'], row['ratings_count'], row['image_url']))
# Commit the changes to the database
my_sql.commit()

In [10]:
cursor.execute("Select count(*) from books;")
result = cursor.fetchall()
result

[(10000,)]

In [12]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('users.csv')

# Insert each row into the MySQL database
for index, row in df.iterrows():
    cursor.execute("INSERT INTO users (`user_id`,`username`, `first_name`,`last_name`,`email`,`dob`) VALUES (%s, %s, %s, %s, %s, %s)",
            (row['user_id'], row['username'], row['first_name'], row['last_name'], row['email'], row['dob']))
# Commit the changes to the database
my_sql.commit()

In [13]:
cursor.execute("Select count(*) from users;")
result = cursor.fetchall()
result

[(1874,)]

In [14]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('user_credentials.csv')

# Insert each row into the MySQL database
for index, row in df.iterrows():
    cursor.execute("INSERT INTO UserCredentials (`user_id`,`password`) VALUES (%s, %s)", (row['user_id'], row['password']))
# Commit the changes to the database
my_sql.commit()

In [15]:
cursor.execute("Select count(*) from UserCredentials;")
result = cursor.fetchall()
result

[(1874,)]